// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$first: #04BFBF ;
$second: #79D9D9 ;
$third: #C2F2F2 ;
$fourth: #F2F2F2 ;
$black: #000 ; 
$rafael:(
  "principal": $first,
   "secundario": $second,
   "tercero": $third,
   "cuarto": $fourth,
   "quinto": $black

);   