.principal{
    background-color: #04BFBF;
}
.secundario{
    background-color:#79D9D9 ;
}
.tercero{
    background-color: #C2F2F2;
}
.cuarto{
    background-color:  #F2F2F2;
}
.quinto{
    background-color: black;
}
.whitef{
    color: white;
} 